{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Team editing</h1>
    {{ form(form) }}
    <ul>
    {% for user in team.users %}
        <li>{{ user.username }} <a href="{{ path("app_team_remove", {"id":team.id, "userId": user.id}) }}">Remove user</a></li>
    {% endfor %}
    </ul>
{% endblock %}